body {
  font-family: 'Noto Sans CJK JP',
    'ヒラギノ角ゴ W3',
    'メイリオ',
    Meiryo,
    'ＭＳ Ｐゴシック',
    'MS PGothic',
    Arial,
    Helvetica,
    Verdana,
    sans-serif;
  letter-spacing: 2px;
  line-height: 1.3;
}
